
.search {
    // Because the input focus makes search shrinking, we need to set border for the search
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid transparent;
    text-align: center;
    input {
        height: 42px;
        padding-left: 10px;
        background-color: rgba(252, 252, 252, 0.06);
        font-size: 1rem;
        font-family: var(--font-family);
        border: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        outline: none;
        color: white;
    }
    .clear {
        // margin: auto;
        font-size: 18px;
        position: fixed;
        right: 45%;
        top: 31.75%;
        transform: translateY(-50%);
        color: rgba(22, 24, 35, 0.34);
        border: none;
    }
}

.search-btn {
    min-width: 40px;
    // position: absolute;
    font-size: 7px;
    background-color: #0C54B8;
    border: none;
    color: var(--white);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 100;
    cursor: pointer;
}