.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    margin: 30px 30px;
    margin-left: 60px;
}
.wrapper-item {
    padding: 20px;
    padding-bottom: 30px;
    font-weight: 700;
    border:none;
    border-radius: 10px;
    // background-color: #a1b378;
    position: relative;
    text-decoration: none;
    color: black;
    margin-left: 20px;
    margin-top: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    .view-more-btn {
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
}

.avatar {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
}

.title {
    margin: 10px 10px ;
    flex-grow: 0.7rem;
    background: linear-gradient(to right, #6190e8, #a7bfe8);
    color: #fff;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    width: fit-content;
    text-transform: capitalize;
}

.description {
    margin: 10px;
    color: #5f5f5f;
}


@media (max-width: 700px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 550px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}