.wrapper {
    display: flex;
    // align-items: center;
    // justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 30px 30px;
    margin-left: 60px;
}
.wrapper-item {
    text-decoration: none;
    color: black;
    width: 30%;
    margin-left: 20px;
}

.avatar {
    width: 300px;
    object-fit: cover;
}